<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium repudiandae accusamus nulla numquam autem reprehenderit consequatur possimus enim quas illo sit voluptates, at ipsam ullam neque ducimus ratione culpa commodi iste officia dolores. Assumenda architecto odit sequi rem maiores, inventore eos accusamus velit minima illo qui cumque corrupti, aperiam maxime.</h1>
    <button>Click me</button>
</body>
</html>